#logonavbar{
  height: 60px;
}


#slide1{
  height: 300px;
}

#banner{
  height: 300px;

}

.thumbnail{
  height: 300px;
  width: 300px;
}

body{
  color: black;
}


.noticiasimage{
  height: 40vh!important;
  max-width: 50vh!important;
  object-fit:none;
  object-position: center;
}

.noticia{
  border: 2px;
  border-color: #e9ecef;
  border-style: solid;
  border-radius: 20px;
  padding: 1em;
  align-items: center;
}

.jumbotron{
  background-color: #208ccd;
  color: white;
}
